div {
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translate(0, -40%);

  h1,
  h2 {
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
  }

  h1 {
    font-size: 40px;
    color: var(--ion-color-primary);
  }

  h2 {
    font-size: 20px;
    color: var(--ion-color-secondary);
  }
}
